body {
  margin: 0;
  font-family: Georgia, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  background: rgb(52,58,64);
  background: linear-gradient(180deg, rgba(52,58,64,1) 0%, rgba(248,248,255,1) 36%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:hover {
  color: ghostwhite;
  text-decoration: none;
}

.input-group {
  width: 275px;
  margin: auto;
}

.main {
  text-align: center;
  margin-top: 75px;
}

.jumbotron {
  height: 250px;
  background-size: cover;
  color: ghostwhite;
  text-shadow: 2px 2px black;
}

.main-jumbotron {
  background-image: url("img/me_with_cup_side.jpg");
  background-position-y: center;
}
.about-jumbotron {
  background-image: url("img/inti_touch.jpg");
  background-position-y: center;
  opacity: 0.8;
  padding-top: 85px;
}
.projects-jumbotron {
  background-image: url("img/beeb_and_keyboard.jpg");
  background-position-y: center;
  padding-top: 85px;
}
.links-jumbotron {
  background-image: url("img/flat_ear_beeb.jpg");
  background-position-y: center;
  padding-top: 85px;
}

.weatherTable {
  margin-top: 30px;
}

.resume-container {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.resume {
  width: 100%;
  text-align: center;
  z-index: 1;
}

.show-resume {
  position: center;
  z-index: 2;
}

.resume iframe {
  height: 1700px;
  width: 800px;
  border: none;
  z-index: -1000;
  display: inline-block;
  margin-bottom: 20px;
}

.inactive-menu {
  color: #ffffff;
  text-decoration: none;
  margin-right: 30px;
}

.inactive-menu:hover {
  text-decoration: none;
  color: lightgoldenrodyellow;
}

.active-menu {
  color: #d1eaa3;
  text-decoration: none;
  margin-right: 30px;
}

.active-menu:hover {
  text-decoration: none;
  color: #d1eaa3;
}

.contact-form {
  background: lavender;
  border-radius: 25px;
  padding: 20px;
}

.contact-form-group {
  width: 100%;
  margin: 5px auto;
  text-align: left;
  color: slategrey;
}

.links-icon {
  margin-right: 20px;
}

.list-professional-links {
  background: #d1eaa3;
  font-weight: bolder;
  color: darkolivegreen;
  padding-bottom: 20px;
}

.list-professional-links:hover {
  text-decoration: none;
  font-weight: bolder;
  background: honeydew;
  color: olive;
}


.list-social-media {
  background: #d1eaa3;
  font-weight: bolder;
  color: darkolivegreen;
  padding-bottom: 20px;
}

.list-social-media:hover {
  text-decoration: none;
  font-weight: bolder;
  background: honeydew;
  color: olive;
}

.list-cs-projects {
  background: lavender;
  font-weight: bolder;
  color: rebeccapurple;
}

.list-cs-projects:hover {
  background: #f6def6;
  text-decoration: none;
  font-weight: bolder;
  color: purple;
}

.footer-padding {
  display: block;
  padding: 40px;
  height: 60px;
  width: 100%;
}

.footer-menu {
  color: darkgrey;
}

.footer-icon {
  color: black;
  margin-left: 15px;
}

.project-previews {
  margin-top: 40px;
}

.project-preview-header {
  color: ghostwhite;
  background: #333;
}

.project-preview-link {
  color: ghostwhite;
}

.project-preview-link:hover {
  color: ghostwhite;
  text-decoration: none;
}

.project-preview-footer {
  background: #333;
}

.project-preview-projects-link {
  color: #333333;
}

.project-preview-projects-link:hover {
  color: #e8ecef;
  text-decoration: none;
}

.project-preview-projects-link h1 {
  background: #e8ecef;
  border-radius: 25px;
  padding: 10px;
}

.project-preview-projects-link h1:hover {
  background: #6c747d;
  border-radius: 25px;
  padding: 10px;
}

.project-preview-header-link {
  color: ghostwhite;
}
